<%- include ("./partials/header") %>


<div class="login-register-container">
    <div class="centre">
        <div>
            <% if (error) { %>
                <h4><%= error[0] %></h4>
            <% } %>
        </div>
        <img src="/img/su-logo.png" alt="SU Logo">
        <form action="/login" method="POST">
            <input type="text" name="username" id="username" placeholder="Username" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
        <h4>Don't have an account? <a href="/register">Register</a></h4>
    </div>
</div>
