<%- include ("./partials/header") %>


<div class="login-register-container">
    <div class="centre">
        <img src="/img/su-logo.png" alt="SU Logo">
        <div class="input-container">
            <input type="text" name="name" id="name" placeholder="Theme Name" required>
            <button id="btnSubmitTheme">Add Theme</button>
        </div>
    </div>
</div>