<%- include ("./partials/header") %>


<div class="login-register-container">
    <div class="centre">
        <img src="/img/su-logo.png" alt="SU Logo">
        <form action="/themes" method="POST" class="input-container">
            <div class="text">
                <input type="text" name="name" id="name" placeholder="Theme Name" required>
            </div>
            <div class="description">
                <textarea name="description" id="" cols="30" rows="10"></textarea>
            </div>
            <button id="btnSubmitTheme">Add Theme</button>
        </form>
    </div>
</div>