<%- include ("./partials/header") %>

<div class="container">
    <div class="content">
        <figure class="content__logo">
            <img src="/img/su-logo.png" alt="SU Logo">
        </figure>
        <h1 class="title">SU 2025 Audit App</h1>
        <div class="content__links">
            <div class="content__links--top">
                <a href="/plugins">View Plugins</a>
                <a href="/themes">View Themes</a>
                <a href="/sites">View Sites</a>
            </div>
            <div class="content__links--bottom">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        </div>
    </div>
</div>